@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');


.heading {
    text-align: center;
    font-size: 2rem;
    color: #484848;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.heading h4 {
    color: #E70C0C;
}
.no-order{
    font-size: 3rem;
    font-weight: 600;
    color: #291720;
    margin-top: 2rem;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0 0 0;
}
.row a{
    color: #D90368;
    text-decoration-line: underline;
}
.row a:hover {
    color: #04A777;
    
}

.cart-content{
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
}
.cart-box {
    border-radius: 2.5rem;
    text-align: left;
    padding: 2rem;
    width: 100%;
    position: relative;
    background-color: #FAEDED;
    display: grid;
    grid-template-columns: 32% 40% 10%;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}


.cart-img {
    width: 100%;
    height: 100px;
    max-width: 100px;
    margin: 0.3rem;
    border-radius: 20px;
    object-fit: cover;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 2rem;
    padding: 1rem 0;
    color: #D90368;
}

.cart-price {
    font-weight: 500;
    font-size: 16px;
    color: #E70C0C;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #04A777;
    color: #E6F7F2;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.cart-quantity {
    width: 20%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
    padding: 5px;
    background-color: #fff;
    color: #291720;
}


.remove-cart {
    text-align: center;
    font-size: 12px;
    background-color: #E70C0C;
    color: #FAEDED;
    margin-top: 10px;
    padding: 2rem;
    cursor: pointer;
    padding: 2px;
    width: 30%;
    border-radius: 20px;
}

.remove-cart:hover {
    color: #FAE2E2;
    background-color: #291720;
}

.total {
    display: flex;
    justify-self: flex-end;
    border-top: 1px solid #000;
    margin-top: 2rem;
}

.total-title {
    font-size: 2rem;
    font-weight: 600;
    color: #820263;
}

.total-price {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #E70C0C;
}

.order-btn {
    display: flex;
    margin: 2rem auto 0 auto;
    cursor: pointer;
    margin-bottom: 5rem;
}

.back-shop {
    margin-top: 5rem;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.back-shop:hover {
    color: #858585;
}

.add-cart {
    cursor: pointer;
    margin: 10px;
    right: 0;
    bottom: 0;
}

