
.main-body {
    width: 100%;
    padding: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0 0 0;
}
.row a:hover{
    color: #acacac;
    text-decoration-line: underline;
}

.row a{
    font-size: 18px;
}
.row a:hover{
    color: #858585;
}

table {
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    width: 100%;
    background-color: #fefefe;

}

table td,
th {
    padding: 0.2rem 0.8rem;
    text-align: center;
    
}

table th {
    font-size: 15px;
}

table td {
    font-size: 13px;
    color: rgb(100, 100, 100);

}

.user-info h2, h3 {
    font-weight: 500;
}

.cartpage{
    margin: 5px auto;
    
}

.cartpage table{
    border-collapse: collapse;
}

.cartpage th{
    padding: 5px;
    color: #f7f7f7;
    background-color: #353535;
}

.cartpage td{
    padding: 10px 5px;
    
}

.user-info {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}
input{
    background-color: transparent;
    text-transform:none;
    text-align: center;
}
.fill{
    font-size: 16px;
    
}
.heading{
    margin-top: 10rem;
}
.footer {
    margin-top: 10rem;
}