h4{
    color: #E70C0C;
}
h2{
    color: #D90368;
}
h3{
    color: #291720;
}
h3 span{
    
    color: #820263;
}
.no-order{
    font-size: 3rem;
    font-weight: 600;
    color: #291720;
    margin-top: 2rem;
}
.catalog .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.cart-box {
    border-radius: 2.5rem;
    text-align: left;
    padding: 2rem;
    width: auto;
    position: relative;
    background-color: #FAEDED;
    display: grid;
    grid-template-columns: 32% 40% 10%;
    align-items: center;
    margin-top: 1rem;
}


.cart-img {
    width: 100%;
    height: 100px;
    max-width: 100px;
    margin: 0.3rem;
    border-radius: 20px;
    object-fit: cover;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}
.detail-box h3{
    font-size: 1.5rem;
}
.cart-product-id{
    font-size: 1.5rem;
}
.cart-product-title {
    font-size: 2rem;
    padding: 1rem 0;
    color: #E70C0C;
}

.cart-price {
    font-weight: 500;
    font-size: 16px;
    color: #E70C0C;
}

.cart-quantity {
    border: 1px solid #f7f7f7;
    width: 3rem;
    text-align: center;
    color: #291720;
}

.decision {
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.decision form {
    display: inline;
    margin: 0 5px; 
    width: 100%;
}

.decision button {
    margin: 0; 
}

.remove-cart {
    color: #f7f7f7;
    padding: 5px;
    background-color: #E70C0C;
    border-radius: 15px;
    width: 100%;
}

.remove-cart:hover {
    background-color: #291720;
}

.acc-cart {
    color: #f7f7f7;
    padding: 5px;
    background-color: #04A777;
    border-radius: 15px;
    width: 100%;
}

.acc-cart:hover {
    background-color: #291720;
}

.total {
    display: flex;
    justify-self: flex-end;
    margin-top: 1rem;
}

.total-title {
    font-size: 2rem;
    font-weight: 600;
    color: #820263;
}

.total-price {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #E70C0C;
}

.person-order {
    text-align: left;
    margin-top: 3rem;
    font-size: 12px;
}

.divided {
    width: 100%;
    height: 1px;
    border: 1px solid #E70C0C;
    margin-top: 2rem;
}
