.container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.main-body {
    width: 100%;
    padding: 6rem;
    margin-top: 10px;
}
h4{
    color: #E70C0C;
}
h2{
    color: #D90368;
}
h3{
    color: #291720;
}
.row {
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0 0 0;
    font-size: 30px;
}

.row a{
    font-size: 18px;
}
.row a:hover{
    color: #04A777;
}

table {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    
}

table td,
th {
    padding: 0.2rem 0.8rem;
    text-align: center;
}

table th {
    font-size: 15px;
}

table td {
    font-size: 13px;
}

.cartpage{
    margin: 5px auto;
    background-color: #fff;
}

.cartpage table{
    border-collapse: collapse;
    background-color: #FAEDED;
    border: 1px solid #cc8e8e;
}

.cartpage th{
    padding: 5px;
    color: #f7f7f7;
    background-color: #D90368;
}

.cartpage td{
    padding: 10px 5px;
    border-bottom:1px solid #cc8e8e;
}

.image-product{
    width: 100%;
    height: 120px;
    max-width: 120px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
}
input{
    font-size: 14px;
    background-color: transparent;
}
.desc-product{
    font-size: 12px;
    text-align: left;
    padding: none;
}
