.main-body .profil{
    width: 100%;
    text-align: center;
    padding-left: 50px;
    height: auto;
    padding: 5rem;
    background-color: #FAEDED;
    border-radius: 25px;
 }
 h3{
    color: #E70C0C;
 }
 .profil .label{
     width: 40%;
     text-align: right;
 }
 
 .profil .equals{
     width: 10%;
 }
 .profil .input{
     width: 60%;
     text-align: left;
 }
 
 .profil td, .profil input{
     font-size: 16px;
 }
 .profil .fill{
    padding: 1rem 2rem;
    background-color: #f7f7f7;
    border-radius: 25px;
 }

.prof-img{
    margin-bottom: 3rem;
    border-radius: 50%;
}

.edit-prof{
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1rem 2rem;
    background-color: #04A777;
    color: #E6F7F2;
    font-size: 14px;
    border-radius: 15px;
    font-weight: 600;
}
.edit-prof:hover{
    background-color: #4AF3C1;
    color: #291720;
}